// Colors
  $dark: #000034;
  $red: #CE020F;
  $light-blue: #A2D8FF;
  $green: #90D459;
  $purple: #7D8CDD;
// Sizes

$small-break: 375px;
$plus-break: 414px;
$break: 768px;

$width: 800px;

$shadow: rgba($dark, .5) 0 1px 6px;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;